.container {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 160px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    font-size: 24px;
}

a  {
    color: #758BFD;
}
.main {
    color: #27187F;
}
.search {
    display: flex;
    border: 3px solid #27187F;
    Width: 221px;
    Height: 55px;
    border-radius: 10px;
    flex-direction: row-reverse;
    align-items: center;
}

.section {
    background-color: #DDEAF8;
}

